body{
    font-family: "Roboto", arial;
    background-color: #1f2937;
}
.menu-bar{
    font-size: 18px;
    display: flex;
    justify-content: end;
    padding-left: 80px;
    padding-right: 80px;
}
.header.main{
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}
.text-container{
    color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}
.header.img{
    height: 50px;
    width: auto;
    margin: 20px 20px 20px 20px;
    border: 2px solid #f9faf8;
    border-radius: 25px;
}

.about-section{
    display: flex;
    padding: 80px;
}
.about-section img{
    height: 325px;
    width: auto;
    border-radius: 7px;
}
.about-text{
    flex: 1;
}
.about-text h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.about-text p{
    color: #E5E7EB;
    font-size: 18px;
}
.about-text button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-family: inherit;
    font-weight: 600;
    border: 0px solid;
    border-radius: 7px;
    padding: 7px;
}
body .body{
    background-color: white;
}